<nav class="navbar bg-transparent text-bg-dark text-light">
  <div class="container">
    <a class="navbar-brand text-light" [routerLink]="['/']">
      <img src="../assets/images/logo.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">

      Hashpomo
    </a>
    <div class="d-flex">
      <div class="btn-group dropstart">
        <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-gear"></i>

        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="/timer">Timer</a></li>
          <li><a class="dropdown-item" routerLink="/settings">Settings</a></li>
          <li><a class="dropdown-item" routerLink="/report">Report</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="container mt-4">
  <router-outlet></router-outlet>
</div>
